<table>
<% i ,cols = 0, 7 %>
<% (1..31).each do |num| %>
  <%= "<tr>" if (i + cols) % cols == 0 %>
  <td>
		<%= num %>
  </td>
  <%= "</tr>" if (i + cols + 1) % cols == 0 %>
  <% i += 1 %>
<% end %>
</table>

